html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu-line {
    position: relative;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    background-color: white;
    margin: auto;
}

.menu-container img {
    position: relative;
    width: 200px;
    height: 45px;
    margin-top: 7.5px;
}

.menu-container .contact-me-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 45px;
    /*margin-top: 7.5px;*/
    right: 30px;
    top: 7.5px;
}

.menu-container .projects-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 45px;
    /*margin-top: 7.5px;*/
    right: 135px;
    top: 7.5px;
}

.menu-container .about-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 45px;
    /*margin-top: 7.5px;*/
    right: 240px;
    top: 7.5px;
}

.menu-container .home-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    height: 45px;
    /*margin-top: 7.5px;*/
    right: 345px;
    top: 7.5px;
    transition: 0.5s ease;
}

.menu-container .home-button:hover {
    background-color: bisque;
}
.menu-container .about-button:hover {
    background-color: bisque;
}
.menu-container .projects-button:hover {
    background-color: bisque;
}
.menu-container .contact-me-button:hover {
    background-color: bisque;
}

.content-container .circle-image {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    right: 30%;
    top: 370px;
}

.content-container .main-text {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: auto;
    top: 390px;
    right: 60%;
}

.content-container .main-text a {
    font-size: 60px;
    color: white;
}